/* -------------------------------- Global Styles -------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
nav {
  padding: 2vw;
  padding-bottom: 1vw;
  background-color: rgb(255, 177, 60);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 2s none 0s;
  z-index: 2;
  border: 2px solid black;
}
#nav-1 {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.3vw;
  gap: 1vw;
}
main {
  display: flex;
}
/* -------------------------------- Components  -------------------------------- */
#logo {
  width: 3vw;
  height: 3vw;
}
.HamBurgs {
  width: 2vw;
  height: 2vw;
  background-color: white;
}
nav > h1 {
  font-size: 2rem;
}
.tasks > img {
  width: 1.5vw;
  height: 1.5vw;
}
.side-bar-list {
  background-color: rgb(255, 251, 0);
  border: 1px solid black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.493);
  padding: 0.5vw;
  padding-top: 0.1vw;
  font-size: 2vw;
  margin: 0.5vw;
}
.tasks {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  width: 99%;
  padding: 0.3vw;
  background-color: white;
  font-size: 1.2vw;
}
.lists {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  width: 99%;
  background-color: white;
  padding: 0.5vw;
  font-size: 1.2vw;
}
#Side-bar {
  padding: 2vw;
  background-color: rgb(255, 187, 60);
  width: 15vw;
  position: fixed;
  left: -15vw;
  top: 0;
  transition: all 2s none 0s;
  height: 100vh;
  z-index: 3;
  border: 2px solid black;
}
.menu-bottom-list > img {
  width: 1vw;
  height: 1vw;
}
.menu-bottom-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  background-color: white;
  padding: 0.3vw;
}
#side-bar-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  font-size: 1vw;
}
#side-bar-input {
  width: 100%;
  height: 2vw;
  border-radius: 0.2vw;
  margin: 0.5vw 0;
  padding: 0.5vw;
}
#tag {
  background-color: rgb(255, 251, 0);
  border: 1px solid black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.493);
  margin-top: 0.5vw;
  padding: 0.3vw;
}
.tags {
  font-size: 1vw;
}
#menu-bottom {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 251, 0);
  border: 1px solid black;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.493);
  display: flex;
  justify-content: center;
  gap: 0.5vw;
  padding: 0.5vw;
  font-size: 1vw;
  margin-top: 0.3vw;
}
#inner-main {
  padding-top: 3vw;
  position: relative;
  left: 0;
  top: 7vw;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}
.innerList {
  padding: 1vw;
  background-color: aqua;
  font-size: 1.2vw;
  width: 17vw;
  height: 21vw;
  margin: 1vw;
}
.createList {
  background-color: aqua;
  display: flex;
  gap: 1vw;
  padding-left: 0.3vw;
  border: 1px solid black;
  font-size: 1.2vw;
}
.createList:hover {
  cursor: pointer;
}
.innerItem {
  width: 90%;
  color: white;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}
.innerItem:hover {
  cursor: pointer;
}
.innerItem-list {
  width: 90%;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-bottom: none;
  margin: 0.3vw auto;
  display: flex;
  justify-content: space-around;
  padding-top: 0.5vw;
}
#nav {
  color: white;
  width: 100vw;
  font-size: 1.2vw;
  animation: textMove 20s linear infinite;
}
@keyframes textMove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.topic-div {
  width: 93%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.delete-List {
  width: 2vw;
  height: 2vw;
  font-size: 1vw;
}
.list-topic {
  padding: 0.3vw;
  background-color: white;
  border: 2px solid black;
  color: black;
  width: 78%;
  display: flex;
  margin-bottom: 0.3vw;
}
